.section {
	position: relative;
}

.md-section {
	padding-top: 90px;
	padding-bottom: 90px;
}

.sm-section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.xs-section {
	padding-top: 30px;
	padding-bottom: 30px;
}
