.banner-area {
	position: relative;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.page-wrapper {
	position: relative;
	z-index: 1;
}

.page-wrapper .breadcrumb {
    background: transparent;
    margin-bottom: 0px;
}

.page-wrapper .breadcrumb .breadcrumb-item.active {
	color: #64728A;
}

.page-wrapper .breadcrumb>li+li:before {
	color: #64728A;
}

#page-header .bg-img{
	background-attachment:scroll;
}
