@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,300i,400,400i,500,500i,700,700i");

.slider_area .slider_inner .camera_caption {
	height: 100%;
}

.slider_area .slider_inner .camera_caption div {
	background: transparent;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	text-shadow: none;
	left: 0;
}

.slider_area .slider_inner .camera_caption div h5 {
	color: #f6b60b;
	font: 400 24px "Roboto", sans-serif;
}

.slider_area .slider_inner .camera_caption div h3 {
	color: #fff;
	font: 400 30px "Roboto", sans-serif;
	padding-top: 27px;
}

.slider_area .slider_inner .camera_caption div p {
	padding-top: 60px;
	color: #fff;
	font: 400 14px/26px "Roboto", sans-serif;
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 90px;
}

.slider_area .slider_inner .camera_caption div a {
	font: 700 18px/59px "Roboto", sans-serif;
	width: 180px;
	text-align: center;
	background: #f6b60b;
	display: block;
	text-shadow: none;
	margin: 0 auto;
	outline: none !important;
	box-shadow: none;
	border: 0;
	color: #222222;
	position: relative;
	z-index: 2;
	padding: 0;
}

.slider_area .slider_inner .camera_caption div a:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	right: 0;
	transform: scaleY(0);
	transform-origin: 50%;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.slider_area .slider_inner .camera_caption div a:hover:before, .slider_area .slider_inner .camera_caption div a:focus:before {
	transform: scaleY(1);
}

.slider_area .slider_inner .camera_prev, .slider_area .slider_inner .camera_next {
	opacity: 1 !important;
	background-color: transparent;
}

.slider_area .slider_inner .camera_prev span, .slider_area .slider_inner .camera_next span {
	display: none;
}

.slider_area .slider_inner .camera_prev {
	position: relative;
}

.slider_area .slider_inner .camera_prev:after {
	content: "";
	position: absolute;
	top: -20px;
	background: url("../vendors/camera-slider/images/prev.png") no-repeat;
	left: 382px;
	height: 50px;
	width: 50px;
}

.slider_area .slider_inner .camera_next:after {
	content: "";
	position: absolute !important;
	top: 0;
	background: url("../vendors/camera-slider/images/next.png") no-repeat;
	right: 382px;
	height: 50px;
	width: 50px;
}

.slider_area .slider_inner .camera_fakehover {
	top: 20px;
}

/* End slider_area */
/* slider_area_tow */
.slider_area_tow .slider_inner .camera_caption div .container {
	width: 1170px !important;
	text-align: left;
	position: relative;
	top: 250px;
}

.slider_area_tow .slider_inner .camera_caption div .container p {
	margin: 0;
}

.slider_area_tow .slider_inner .camera_caption div .container a {
	margin: 0;
}

.slider_area_tow .slider_inner .camera_prev:after {
	left: 230px;
}

.slider_area_tow .slider_inner .camera_next:after {
	right: 230px;
}

/* //media query */
@media (max-width: 1700px) {
	.slider_area_tow .slider_inner .camera_prev::after {
		left: 0px !important;
	}

	.slider_area_tow .slider_inner .camera_next::after {
		right: 0px !important;
	}

	.slider_area .slider_inner .camera_next::after {
		right: 105px;
	}

	.slider_area .slider_inner .camera_prev::after {
		left: 105px;
	}
}

@media (max-width: 1199px) {
	.slider_area .slider_inner .camera_next::after {
		right: 0px;
	}

	.slider_area .slider_inner .camera_prev::after {
		left: 0;
	}

	.slider_area_tow .slider_inner .camera_caption div .container {
		max-width: 940px !important;
	}

	.our_team_area .team_row .team_membar img {
		height: 330px;
	}

	.blog_tow_area .blog_tow_row .renovation .renovation_content .date_comment a {
		padding-right: 30px;
	}
}
